@import "~taro-ui/dist/style/components/tabs.scss";
@import "~taro-ui/dist/style/components/search-bar.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.package {
  background: #fff;

  .at-tabs {
    &__underline {
      display: none;
    }

    &__item {
      font-size: 28px;
      padding: 28px 40px;
    }
  }

  .at-search {
    &-bar {
      &::after {
        content: none;
      }

      &__placeholder-wrap {
        flex-grow: 0!important;
      }
    }
  }

  &-toolbox {
    display: flex;
    align-items: center;
    height: 84px;
    position: relative;
  }

  &-search {
    width: calc(100% - 76px);

    .at-search {
      &-bar {
        &__action {
          display: none;
        }
      }
    }

    &__active {
      .at-search {
        &-bar {
          &__action {
            visibility: visible;
          }
        }
      }
    }

    &__btn {
      font-size: 28px;
    }
  }

  &-scan {
    background: url(~@/assets/icons/scan.png) no-repeat center center / contain;
    width: 60px;
    height: 60px;
  }

  &-history {
    min-height: 180px;
    background: #fff;
    position: absolute;
    width: 100%;
    top: 84px;
    z-index: 12;
    padding: 20px 24px;
    font-size: 28px;
    color: rgba(0,0,0,.5);
    box-sizing: border-box;

    &__null {
      margin-top: 48px;
      text-align: center;
      color: rgba(0,0,0,.3);
    }

    &__list {
      margin-top: 16px;
    }

    &__item {
      line-height: 64px;
      color: #000;
      border-bottom: 2px solid rgba(204, 204, 204, 0.3);

      &:last-of-type {
        border-bottom: 0;
      }
    }

    &__clear {
      position: absolute;
      color: rgba(0,0,0,.6);
      top: 20px;
      right: 22px;
      cursor: pointer;
    }
  }

  &-mask {
    position: absolute;
    top: 84px;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    z-index: 10;
  }
}
