
.home {
  &__bg {
    width: 100vw;
    height: 412px;
    object-fit: contain;
    background: #3F8FFF;
  }

  &-toolbox {
    height: 100px;
    background: #fff;
    width: 90vw;
    margin: 20px auto 0;
    border-radius: 10px;
    padding: 18px 0;
    box-sizing: border-box;
    @include flexAlign(center);
    @include flexJustify(center);
    position: relative;

    &__item {
      height: 64px;
      @include flexAlign(center);

      &:nth-of-type(2) {
        margin-left: 25vw;
      }
    }

    &__img {
      margin-right: 16px;
      width: 48px;
      height: 48px;
    }

    &::after {
      width: 2px;
      content: '';
      position: absolute;
      top: 18px;
      bottom: 18px;
      left: calc(50% - 2px);
      border-right: 2px dotted #ccc;
    }

    &__text {
      color: rgb(100, 101, 102);
      font-size: 28px;
    }
  }
}
